n8n 유튜브 바이럴 리서치 자동화/n8n 유튜브 리서치.json
{
  "name": "유튜브 리서치",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/streamers~youtube-scraper/run-sync-get-dataset-items?token=YOUR_APIFY_API_TOKEN",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"dateFilter\": \"month\",\n    \"maxResultStreams\": 0,\n    \"maxResults\": 0,\n    \"maxResultsShorts\": 10,\n    \"preferAutoGeneratedSubtitles\": false,\n    \"saveSubsToKVS\": false,\n    \"searchQueries\": [\n        \"요리\"\n    ],\n    \"sortingOrder\": \"views\",\n    \"subtitlesLanguage\": \"any\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "id": "87dfce91-2de0-4c27-b100-e576df86f634",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"제목\": \"{{ $json.title }}\",\n  \"URL\": \"{{ $json.youtubeUrl }}\",\n  \"채널명\": \"{{ $json.channelName }}\",\n  \"채널 규모\": \"{{ $json.channelSize }}\",\n\n  \"구독자수\": {{ $json.subs }},\n  \"조회수\": {{ $json.views }},\n  \"좋아요\": {{ $json.likes }},\n  \"댓글\": {{ $json.comments }},\n\n  \"좋아요 반응 수치\": {{ $json.likePerKViews }},\n  \"댓글 반응 수치\": {{ $json.commentPerKViews }},\n  \"구독자 퍼포먼스\": {{ $json.viewsPerSub }},\n\n  \"아웃라이어\": {{ $json.isOutlier }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        0
      ],
      "id": "df1df1eb-886b-44c8-a85e-53d1b3dd0f8b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d86ee31e-3d04-4ac9-b504-0c8b80e66389",
              "leftValue": "={{ $json[\"좋아요 반응 수치\"] }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "57191c36-87a6-4112-b699-d9e682058227",
              "leftValue": "={{ $json[\"구독자 퍼포먼스\"] }}",
              "rightValue": 7,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        -100
      ],
      "id": "0659f32b-6eac-4e94-82e5-40b66de01a8c",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appDPHzzVKpxrbDkB",
          "mode": "list",
          "cachedResultName": "유튜브 바이럴 리서치",
          "cachedResultUrl": "https://airtable.com/appDPHzzVKpxrbDkB"
        },
        "table": {
          "__rl": true,
          "value": "tblM9RTEO0RXTHrvd",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appDPHzzVKpxrbDkB/tblM9RTEO0RXTHrvd"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "아웃라이어": "={{ $json[\"아웃라이어\"] }}",
            "구독자 수": "={{ $json[\"구독자수\"] }}",
            "조회수": "={{ $json[\"조회수\"] }}",
            "좋아요": "={{ $json[\"좋아요\"] }}",
            "댓글": "={{ $json[\"댓글\"] }}",
            "좋아요 반응 수치": "={{ $json[\"좋아요 반응 수치\"] }}",
            "댓글 반응 수치": "={{ $json[\"댓글 반응 수치\"] }}",
            "구독자 퍼포먼스": "={{ $json[\"구독자 퍼포먼스\"] }}",
            "영상 제목": "={{ $json[\"제목\"] }}",
            "URL": "={{ $json.URL }}",
            "채널명": "={{ $json[\"채널명\"] }}",
            "채널 규모": "={{ $json[\"채널 규모\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "영상 제목",
              "displayName": "영상 제목",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "채널명",
              "displayName": "채널명",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "채널 규모",
              "displayName": "채널 규모",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "소형 채널",
                  "value": "소형 채널"
                },
                {
                  "name": "중형 채널",
                  "value": "중형 채널"
                },
                {
                  "name": "대형 채널",
                  "value": "대형 채널"
                },
                {
                  "name": "대기업",
                  "value": "대기업"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "구독자 수",
              "displayName": "구독자 수",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "조회수",
              "displayName": "조회수",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "좋아요",
              "displayName": "좋아요",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "댓글",
              "displayName": "댓글",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "좋아요 반응 수치",
              "displayName": "좋아요 반응 수치",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "댓글 반응 수치",
              "displayName": "댓글 반응 수치",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "구독자 퍼포먼스",
              "displayName": "구독자 퍼포먼스",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "아웃라이어",
              "displayName": "아웃라이어",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "영상 파급력",
              "displayName": "영상 파급력",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1260,
        0
      ],
      "id": "a967be01-b077-4943-95b5-4949d14b8e2a",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "9DZ2pJpJcm3T20SA",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -260,
        0
      ],
      "id": "ba3bf21e-362e-4f14-ae8e-8cf400237f7c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "/*\n * Shorts JSON → 지표 계산 + 채널 규모 분류\n * 채널 규모:\n *   < 10k         → \"소형 채널\"\n *   10k-100k      → \"중형 채널\"\n *   100k-1M       → \"대형 채널\"\n *   ≥ 1M          → \"대기업\"\n */\n\nconst views    = Number($json.viewCount           || 0);\nconst likes    = Number($json.likes               || 0);\nconst comments = Number($json.commentsCount       || 0);\nconst subs     = Number($json.numberOfSubscribers || 0);\n\n// ---------- 지표 계산 ---------- //\nconst likePerKViews     = views ? (likes    / views) * 1000 : 0;   // 좋아요 반응 수치\nconst commentPerKViews  = views ? (comments / views) * 1000 : 0;   // 댓글 반응 수치\nconst viewsPerSub       = subs  ? (views    / subs)        : 0;    // 구독자 퍼포먼스\n\n// ---------- 채널 규모 ---------- //\nlet channelSize;\nif      (subs < 10_000)      channelSize = \"소형 채널\";\nelse if (subs < 100_000)     channelSize = \"중형 채널\";\nelse if (subs < 1_000_000)   channelSize = \"대형 채널\";\nelse                          channelSize = \"대기업\";\n\n// ---------- 아웃라이어(참고용) ---------- //\nconst isOutlier = subs < 100_000 && viewsPerSub > 50;\n\n// ---------- 반환 ---------- //\nreturn {\n  title: $json.title,\n  youtubeUrl: $json.url || `https://www.youtube.com/shorts/${$json.id}`,\n  channelName: $json.channelName,\n  subs,\n  views,\n  likes,\n  comments,\n  likePerKViews,\n  commentPerKViews,\n  viewsPerSub,\n  channelSize,\n  isOutlier\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "5a483442-e6e6-42f7-a261-f9c59a165b4e",
      "name": "Code2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "36c3f52b-ef04-444e-bbda-c29ee8f47a35",
              "leftValue": "={{ $json[\"댓글 반응 수치\"] }}",
              "rightValue": 0.1,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        140
      ],
      "id": "2abb389a-d85e-4ea4-b138-5bb79b1a3fe3",
      "name": "If1"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "URL",
        "joinMode": "keepEverything",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        980,
        0
      ],
      "id": "0adc8679-1a75-4f7b-98c5-ea97683a72c4",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        []
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cea54e4c-b3e4-48e0-b14f-efc8af08aa41",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6584c3ee4a1bba8a530380aa4465cf16feecea86d0c373cc0dd44d8c1497f81e"
  },
  "id": "Jz8J7PmM6sQeaLbX",
  "tags": []
}